.right {
    width: 150px;
    height: 80px;
}
/* * {
    border: 1px solid black;

} */
.nav-wrapper { 
    background-color: #096d69;
}
li {
    display: inline-block;
}
.hangman {
    height: 300px;
    width: 350px;
}